@use "../styles.scss" as *;

.about-us-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-hero {
  height: 25rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .about-us-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    h2 {
      color: white;
      font-size: 4rem;
      height: auto;
    }
    h3 {
      color: white;
      font-size: 3rem;
      height: auto;
    }
  }
}

.about-us-content {
  width: 75%;
  padding: 3rem 0;
  height: auto;
  p {
    font-size: 1.5rem;
    text-align: center;
  }
}

.about-us-numbers {
  width: 75%;
  height: 30rem;
  display: flex;
  justify-content: space-evenly;
  .about-us-data {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    gap: 1rem;
    svg {
      height: 4rem;
      fill: $blue;
    }
    h2 {
      font-size: 2rem;
      text-align: center;
    }
    h3 {
      font-size: 3rem;
      text-align: center;
    }
  }
}

@media (max-width: 1300px) and (min-width: 900px) {
  .about-us-content {
    width: 85%;
    height: 50rem;
    padding: 2rem 0;
  }
}

@media (max-width: 900px) {
  .about-us-section {
    height: auto;
  }
  .about-us-numbers {
    flex-direction: column;
    align-items: center;
    height: 70rem;
    width: 100%;
    .about-us-data {
      width: 100%;
    }
  }
  .about-us-content {
    height: auto;
    width: 100%;
    padding: 2rem;
  }
  .about-us-overlay {
    text-align: center;
  }
}
