@use "../styles.scss" as *;

.hero {
  height: 90vh;
  overflow: hidden;
  width: 100vw;
  align-items: flex-end;
  display: flex;
}

.background-gradient {
  height: 200vh;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(67, 97, 238, 0.3) 0%,
    rgba(212, 212, 212, 0.3) 50%
  );
  border-radius: 50%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-layout {
  float: left;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 75%;
  height: 86vh;
}

.hero-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 3%;
}

.image-slideshow-and-text {
  padding-top: 10rem;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  z-index: 200;
  h2 {
    color: $blue;
    letter-spacing: 0.25rem;
    font-size: 2rem;
  }
  h1 {
    width: 90%;
    color: $black;
    word-spacing: 0.25rem;
    letter-spacing: 0.25rem;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.2;
    overflow: hidden;
  }
  h3 {
    width: 80%;
    color: $gray;
    line-height: 2;
    padding-bottom: 2rem;
  }
}

.image-slideshow-container {
  width: 70%;
  height: 50%;
  overflow: hidden;
}

.search-property {
  width: 37%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.happy-customers-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.happy-customers {
  width: 40rem;
  background-color: white;
  height: 7rem;
  border-radius: 4rem;
  padding: 0 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(114, 116, 117, 0.12) 0px 2px 4px 0px,
    rgba(131, 139, 143, 0.32) 0px 2px 16px 0px;
}

.happy-customers-list {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    width: 20%;
    height: 4rem;
    overflow: hidden;
    border-radius: 9999px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 4rem;
    max-width: 100%;
    max-height: 4rem;
  }
}

.happy-customers-text {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    padding: 0;
    color: $black;
    font-size: 1.5rem;
  }
}

.listings-card-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.listings-card {
  width: 40rem;
  background-color: white;
  height: 7rem;
  border-radius: 4rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(114, 116, 117, 0.12) 0px 2px 4px 0px,
    rgba(131, 139, 143, 0.32) 10px 8px 8px 0px;
}

.listings-card-featured-property {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    object-fit: cover;
  }
}

.listings-card-text {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 900px) {
  .background-gradient {
    background: none;
  }
  .hero {
    height: auto;
    margin-top: 7vh;
  }

  .hero-layout {
    width: 90%;
    overflow: visible;
    margin-top: 3rem;
  }
  .hero-content {
    flex-direction: column;
    height: 150vh;
  }
  .image-slideshow-and-text {
    width: 100%;
    height: 45%;
    padding: 0;
    h1 {
      font-size: 3rem;
      width: 100%;
    }
    h2 {
      overflow: hidden;
    }
    h3 {
      width: 100%;
      overflow: hidden;
    }
  }

  .search-property {
    width: 100%;
    padding: 0;
    align-items: flex-start;
    height: 55%;
  }
  .image-slideshow-container {
    width: 100%;
    height: 45%;
  }
  .happy-customers-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .happy-customers-text {
    h3 {
      text-align: center;
    }
  }
  .happy-customers {
    box-shadow: none;
    border: 1px solid black;
  }
  .listings-card {
    box-shadow: none;
    border: 1px solid black;
    overflow: hidden;
  }
}

@media (max-width: 385px) and (min-width: 250px) {
  .hero-content {
    height: 180vh;
  }
}

@media (max-width: 1500px) and (min-width: 1150px) {
  .hero-layout {
    width: 90%;
  }
}
@media (max-width: 1150px) and (min-width: 900px) {
  .hero-layout {
    width: 95%;
  }
}

@media (max-width: 900px) and (min-width: 500px) {
  .image-slideshow-container {
    height: 55%;
  }
}
