@use "../styles.scss" as *;

.slideshow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slideshow-image {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;

  button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $gray;
      svg {
        fill: white;
      }
    }
  }
}

.slideshow-image-inner {
  width: 90%;
  height: 90%;
  max-height: 300px;
  display: flex;
  justify-content: center;

  img {
    border-radius: 3rem;
    overflow: hidden;
    max-width: 90%;
    max-height: 35rem;
    object-fit: cover;
  }
}

.slideshow-current-image {
  height: 5px;
  overflow: hidden;
  width: 95%;
  ul {
    flex-direction: row;
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
  li {
    height: 100%;
    width: 15%;
    color: white;
    background-color: white;
  }
  .current-image {
    background-color: $blue;
    color: $blue;
  }
}

@media (max-width: 900px) {
  .slideshow-image {
    height: 100%;
    button {
      width: 32px;
      height: 32px;
    }
  }
  .slideshow {
    height: 100%;
  }
  .slideshow-image-inner {
    img {
      width: 100%;
      max-width: 100%;
      max-height: 20rem;
    }
  }
}

@media (max-width: 900px) and (min-width: 500px) {
  .slideshow-image-inner {
    img {
      max-height: 30rem;
    }
  }
}
