@use "../styles.scss" as *;

.slideshow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slideshow-image {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  img {
    border-radius: 3rem;
    overflow: hidden;
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }
  button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.slideshow-current-image {
  height: 5px;
  overflow: hidden;
  width: 95%;
  ul {
    flex-direction: row;
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
  li {
    height: 100%;
    width: 15%;
    color: white;
    background-color: white;
  }
  .current-image {
    background-color: $blue;
    color: $blue;
  }
}
