@use "../styles.scss" as *;

.services-detailed-content {
  display: flex;
  width: 100%;
  height: 100rem;
  align-items: center;
  flex-direction: column;
}

.services-that-we-offer {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .overlay-services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .overlay-services-content {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 2rem 0;
      h2 {
        color: white;
        font-size: 2rem;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 1.5rem;
        width: 25rem;
        height: 5rem;
        border: 2px solid $blue-dark;
        background-color: $blue-dark;
        border-radius: 3rem;
        cursor: pointer;
        color: white;
        font-weight: bold;
        transition: all 0.3s;
        &:hover {
          width: 26rem;
          height: 6rem;
        }
      }
    }
  }
}

.services-detailed {
  width: 100%;
  height: 85rem;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  .services-detailed-selectors {
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: row;
      width: 50%;
      height: 90%;
      gap: 1rem;
      li {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        border-bottom: 1px solid $purple;
        height: 90%;

        &:hover {
          color: $blue-dark;
        }
      }
      .currently-selected-service-option {
        font-weight: bold;
        border-bottom: 3px solid $blue-dark;
        color: $blue-dark;
      }
    }
  }
  .services-detailed-text-agent {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: row;
    .services-detailed-text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      h1 {
        color: $blue;
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
        word-spacing: 0.5rem;
      }
    }
    .services-agent-info {
      width: 50%;
      height: 100%;
      display: flex;

      flex-direction: column;
      .agent-info-image {
        width: 100%;
        height: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
          width: 32rem;
          height: 32rem;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .agent-info-text {
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        h3 {
          color: $blue;
        }
      }
    }
  }
}

@media (max-width: 1100px) and (min-width: 900px) {
  .services-that-we-offer {
    .overlay-services {
      .overlay-services-content {
        width: 50%;
      }
    }
  }
}

@media (max-width: 900px) and (min-width: 700px) {
  .services-that-we-offer {
    .overlay-services {
      .overlay-services-content {
        width: 75%;
      }
    }
  }

  .services-detailed {
    height: 110rem;
    .services-detailed-selectors {
      width: 50%;
      ul {
        width: 100%;
      }
    }
    .services-detailed-text-agent {
      width: 95%;
    }
  }
}

@media (max-width: 700px) and (min-width: 500px) {
  .services-that-we-offer {
    .overlay-services {
      .overlay-services-content {
        width: 75%;
      }
    }
  }
  .services-detailed-content {
    height: 120rem;
  }

  .services-detailed {
    height: 100%;
    .services-detailed-selectors {
      width: 70%;
      ul {
        width: 100%;
      }
    }
    .services-detailed-text-agent {
      width: 95%;
      height: 90%;
      flex-direction: column;
      .services-agent-info {
        order: 1;
        width: 100%;
        height: 40%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .agent-info-image {
          width: 24rem;
          height: 24rem;
          img {
            width: 24rem;
            height: 24rem;
          }
        }
        .agent-info-text {
          width: 30%;
          align-items: center;
          justify-content: center;
        }
      }
      .services-detailed-text {
        order: 2;
        width: 100%;
      }
    }
  }
}
@media (max-width: 500px) and (min-width: 200px) {
  .services-that-we-offer {
    .overlay-services {
      .overlay-services-content {
        width: 95%;
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }
  .services-detailed-content {
    height: 130rem;
  }

  .services-detailed {
    height: 100%;
    .services-detailed-selectors {
      width: 70%;
      ul {
        width: 100%;
      }
    }
    .services-detailed-text-agent {
      width: 95%;
      height: 90%;
      flex-direction: column;
      .services-agent-info {
        order: 1;
        width: 100%;
        height: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .agent-info-image {
          width: 20rem;
          height: 20rem;
          img {
            width: 20rem;
            height: 20rem;
          }
        }
        .agent-info-text {
          width: 30%;

          align-items: center;
          justify-content: center;
          h3 {
            text-align: center;
          }
        }
      }
      .services-detailed-text {
        order: 2;
        width: 100%;
        height: auto;
        padding: 0.5rem;
      }
    }
  }
}
