@use "../styles.scss" as *;

.town-areas-section {
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.town-areas-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90%;
  .town-areas-text {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      height: 40%;
      color: $blue;
      letter-spacing: 0.25rem;
      font-size: 2rem;
    }
    h1 {
      height: 60%;
      color: $black;
      word-spacing: 0.25rem;
      letter-spacing: 0.25rem;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.2;
      overflow: hidden;
    }
  }
}

.town-areas-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  flex-direction: column;
  height: 80%;
  .town-areas-images-three {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .town-area-card-three {
      width: 32%;
      height: 100%;
      position: relative;
      display: inline-block;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 2rem;
      }
    }
  }
  .town-areas-images-two {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    .town-area-card-two {
      width: 50%;
      height: 100%;
      position: relative;
      display: inline-block;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 2rem;
      }
    }
  }
}
.overlay {
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all 0.25s;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    .overlay-content {
      h3 {
        color: rgba($color: #ffffff, $alpha: 1);
      }
    }
  }

  .overlay-content {
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    h3 {
      color: rgba($color: #ffffff, $alpha: 0.6);
      font-size: 3rem;
      letter-spacing: 0.25rem;
    }
  }
}
@media (max-width: 500px) and (min-width: 300px) {
  .town-areas-section {
    height: 150rem;
    align-items: flex-start;
  }
  .town-areas-container {
    width: 90%;
    .town-areas-text {
      height: 15%;
      padding: 2rem 0;
      h2 {
        height: auto;
      }
      h1 {
        height: auto;
      }
    }
  }

  .town-areas-images {
    .town-areas-images-three {
      align-items: center;
      gap: 2rem;
      flex-direction: column;
      .town-area-card-three {
        width: 30rem;
        height: 20rem;
        img {
          width: 30rem;
          height: 20rem;
        }
      }
    }
    .town-areas-images-two {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: flex-start;
      .town-area-card-two {
        width: 30rem;
        height: 20rem;

        img {
          width: 30rem;
          height: 20rem;
        }
      }
    }
  }
}
@media (max-width: 750px) and (min-width: 500px) {
  .town-areas-section {
    height: 150rem;
    align-items: flex-start;
  }
  .town-areas-container {
    width: 90%;
    .town-areas-text {
      height: 10%;
      padding: 2rem 0;
      h2 {
        height: auto;
      }
      h1 {
        height: auto;
      }
    }
  }

  .town-areas-images {
    height: 90%;
    .town-areas-images-three {
      height: 60%;
      align-items: center;
      gap: 2rem;
      flex-direction: column;
      .town-area-card-three {
        width: 40rem;
        height: 40rem;
        img {
          width: 40rem;
          height: 40rem;
        }
      }
    }
    .town-areas-images-two {
      height: 40%;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: flex-start;
      .town-area-card-two {
        width: 40rem;
        height: 40rem;

        img {
          width: 40rem;
          height: 40rem;
        }
      }
    }
  }
}

@media (max-width: 330px) and (min-width: 200px) {
  .town-areas-section {
    height: 150rem;
    align-items: flex-start;
  }
  .town-areas-container {
    width: 90%;
    .town-areas-text {
      height: 20%;
      padding: 2rem 0;
      h2 {
        height: auto;
      }
      h1 {
        height: auto;
      }
    }
  }

  .town-areas-images {
    .town-areas-images-three {
      align-items: center;
      gap: 2rem;
      flex-direction: column;
      .town-area-card-three {
        width: 25rem;
        height: 20rem;
        img {
          width: 25rem;
          height: 20rem;
        }
      }
    }
    .town-areas-images-two {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: flex-start;
      .town-area-card-two {
        width: 25rem;
        height: 20rem;

        img {
          width: 25rem;
          height: 20rem;
        }
      }
    }
  }
}
