@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$blue-dark: #3a0ca3;
$blue: #4361ee;
$blue-light: #4cc9f0;
$blue-nav: #c7d0fa;
$purple: #7209b7;
$pink: #f72585;
$black: #0b090a;
$black-light: #2b2b2b;
$gray: #808080;
$gray-light: #d4d4d4;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
